<h1>Listing partners</h1>

<table>
  <tr>
    <th>Erp</th>
    <th>Hick</th>
    <th>Spree</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @partners.each do |partner| %>
  <tr>
    <td><%= partner.erp_id %></td>
    <td><%= partner.hick_id %></td>
    <td><%= partner.spree_id %></td>
    <td><%= link_to 'Show', partner %></td>
    <td><%= link_to 'Edit', edit_partner_path(partner) %></td>
    <td><%= link_to 'Destroy', partner, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Partner', new_partner_path %>
